<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Express Pizza</title>
</head>

<body>
    <div>
        <h1>Welome to Express Pizza</h1>
        <section>
            <h2>Specialty Pizzas</h2>
            <ul>
                <li><a href="/specialty-pizza/specialty-type/?name=Anchovy Lover's&price=15">Anchovy Lover's</a></li>
                <li><a href="/specialty-pizza/specialty-type/?name=Paleo Pizza&price=21">Paleo Pizza</a></li>
                <li><a href="/specialty-pizza/specialty-type/?name=Dessert Pizza&price=12">Dessert Pizza</a></li>
            </ul>
        </section>

        <section>
            <h2>Custom Pizza</h2>
            <a href="/BYO">Build Your Own!</a>

        </section>

        <section>
            <h2>Leave a Review</h2>
            <a href="/review">Leave a review</a>
        </section>
    </div>
</body>

</html>